
#background {
    height: 725px;
}

body {
    background-color: #8f8181; 
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
}

nav a:hover {
    background-color: black;
    color: #d9c2a3;
}    

.icon {
    width: 80px;
}

nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    font-size: 50%;
}    
     

    
footer p {
    font-size: 1.2em;
}   

footer p a:hover {
    text-decoration: underline;
}   
content {
    width: 1600px;
    margin: 0 auto;
    text-align: center;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}